GITHUB_TOKEN=ghp_your_token_here

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_ENDPOINT=localhost:9002
MINIO_BUCKET=bronze
MINIO_SECURE=false

CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=clickhouse123
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123

POSTGRES_DB=repo_radar
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123

GHARCHIVE_START_DATE=start_date_here

SLACK_WEBHOOK_URL=your_slack_webhook_url_here
DAGSTER_WEBSERVER_URL=your_dagster_webserver_url_here



